{% extends '../layout.html' %}

{% block content %}

  <div class="jumbotron col-sm-6 col-sm-offset-3">
    <h1 class="text-center"> Log In </h1>
	<form role="form" method="POST">
	  <input type='hidden' name='_csrf' value={{_csrf}} />
	  <div class="form-group">
	    <label for="email"> Email </label>
	    <input class="form-control" type="email" name="email" />
	  </div>
	  <br>
	  <div class="form-group">
	    <button class="btn btn-success pull-right"> Log In </button>
	  </div>
	</form>
    <br><br>
    {% include '../partials/_social_buttons.html' %}
  </div>

{% endblock %}
