{% extends 'layout.html' %}

{% block content %}
  
  <div class="jumbotron col-sm-10 col-sm-offset-1 text-center">
    <div class="col-sm-2 col-sm-offset-1">
      <img class="img-responsive" alt="Baby Cthulhu" src="/images/baby_cthulhu.jpg" />
    </div>
    <div class="col-sm-9">
      <h1> Welcome to {{ app_name }}</h1>
      <br/>
      <br/>
      <p> 
        The last Node.js boilerplate you are ever going to need
      </p>
      <br/>
      <br/>
      <p>
        <a class="btn btn-primary btn-lg" role="button" href="/about">
          Learn more
        </a>
      </p>
    </div>
  </div>

{% endblock %}
